body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#mapObjectTag {
    max-height: 100vh;
    /* This comes from the diplomacy map's aspect ratio. */
    max-width: 109vh;

    /* Let the size of this item be determined by the height and width
     * directives above. If the flexbox container needs to use more or less
     * space, tweak the dimensions of the other items instead. */
    flex-grow: 0;
    flex-shrink: 0;
}

#non-map {
    /* Take up whatever horizontal space is left. If the longest word in the
     * header can't fit in that space, wrap and take up as much space as is
     * available on the next 'line' of flex items. */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

#test-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.test-complete {
    color: black;
}

.test-incomplete {
    color: red;
}
